:root {
    --icon-width: calc((24px + 1em));
    --task-width: calc((24px * 6 + 3em) * 2);
}

.taskTitle {
    color: #427BDE;
    margin-block: .25em .75em;
}

.taskWrapper {
    border: 2px solid #5693FF;
    border-radius: 10px;
    padding: 10px;
    margin-block: 10px;
    width: var(--task-width);
}

.iconFieldWrapper {
    display: flex;
    margin-top: 10px;
    height: 24px;
    line-height: 24px;
    padding: 5px;
    background-color: #F8F8F8;
    gap: .5em;
}

.minimizedField {
    animation: 1s ease-in-out 1 slideInFromLeft;
    flex: 1;
    height: fit-content;
    position: relative;
    top: -4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #FFF;
    border: #5693FF 2px solid;
    border-radius: 20px;
}

@keyframes slideInFromLeft {
    0% {
      flex: .135;
    }
    100% {
      flex: 1;
    }
  }

.minimizedField > *, .collapseField > * { 
    vertical-align: text-bottom;
    padding: 2px 2px 0px 2px;
    font-size: .9em;
    }

/* SVG Animations */
/* Clock Icon */
.minimizedField .clockAnimate {
    animation: 1s ease-in-out 1 spinClock;
    transform-origin: center;
}
.minimizedField .clockAnimate > #Path_665 {
    animation: 1s ease-in-out 1 spinClockHand;
}

@keyframes spinClock {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}
@keyframes spinClockHand {
    0% {
        transform: translate(76.492px, 77.025px) rotate(0deg);
      }
      50% {
        transform: translate(76.492px, 77.025px) rotate(30deg);
      }
      100% {
        transform: translate(76.492px, 77.025px) rotate(0deg);
      }
}

/* Calendar Icon */
.minimizedField .calendarAnimate > #Path_797 {
    animation: 1s ease-in-out 1 calendarPulse1;
    animation-delay: .1s;
}
.minimizedField .calendarAnimate > #Path_796 {
    animation: 1s ease-in-out 1 calendarPulse2;
    animation-delay: .3s;
}
.minimizedField .calendarAnimate > #Path_800 {
    animation: 1s ease-in-out 1 calendarPulse3;
    animation-delay: .3s;
}
.minimizedField .calendarAnimate > #Path_799 {
    animation: 1s ease-in-out 1 calendarPulse4;
    animation-delay: .5s;
}
.minimizedField .calendarAnimate > #Path_798 {
    animation: 1s ease-in-out 1 calendarPulse5;
    animation-delay: .7s;
}

@keyframes calendarPulse1 {
    0% {
        transform: translate(71.22px, 66.816px) scale(.6);
      }
      50% {
        transform: translate(71.22px, 66.816px) scale(1.2);
        fill: #B1CEFF;
      }
      100% {
        transform: translate(71.22px, 66.816px) scale(1);
      }
}
@keyframes calendarPulse2 {
    0% {
        transform: translate(97.642px, 66.816px) scale(.6);
      }
      50% {
        transform: translate(97.642px, 66.816px) scale(1.2);
        fill: #B1CEFF;
      }
      100% {
        transform: translate(97.642px, 66.816px) scale(1);
      }
}
@keyframes calendarPulse3 {
    0% {
        transform: translate(44.798px, 93.238px) scale(.6);
      }
      50% {
        transform: translate(44.798px, 93.238px) scale(1.2);
        fill: #B1CEFF;
      }
      100% {
        transform: translate(44.798px, 93.238px) scale(1);
      }
}
@keyframes calendarPulse4 {
    0% {
        transform: translate(71.22px, 93.238px) scale(.6);
      }
      50% {
        transform: translate(71.22px, 93.238px) scale(1.2);
        fill: #B1CEFF;
      }
      100% {
        transform: translate(71.22px, 93.238px) scale(1);
      }
}
@keyframes calendarPulse5 {
    0% {
        transform: translate(97.642px, 93.238px) scale(.6);
      }
      50% {
        transform: translate(97.642px, 93.238px) scale(1.2);
        fill: #B1CEFF;
      }
      100% {
        transform: translate(97.642px, 93.238px) scale(1);
      }
}

/* Square Icon */
.minimizedField .squareAnimate > #Rectangle_3658 {
    animation: 1s ease-in-out 1 squareShift1;
}
.minimizedField .squareAnimate #Rectangle_3658_-_Outline {
    animation: 1s ease-in-out 1 squareShift1;
}
.minimizedField .squareAnimate #Line_389 {
    animation: 1s ease-in-out 1 squareShift2;
}
.minimizedField .squareAnimate #Path_794 {
    animation: 1s ease-in-out 1 squareShift3;
}

@keyframes squareShift1 {
    0% {
        transform: translate(34.646px, 32.595px);
      }
      35% { 
        transform: translate(34.646px, 32.595px) scale(1.1);
        transform-origin: right;
      }
      70% { 
        transform: translate(34.646px, 32.595px) scale(1.1);
        transform-origin: left;
      }
      100% {
        transform: translate(34.646px, 32.595px);
      }
}
@keyframes squareShift2 {
    0% {
        transform: translate(77.021px, 38.261px);
      }
      35% { 
        transform: translate(67.021px, 38.261px) scale(1.1);
        transform-origin: right;
      }
      70% {  
        transform: translate(97.021px, 38.261px) scale(1.1);
        transform-origin: left;
      }
      100% {
        transform: translate(77.021px, 38.261px);
      }
}
@keyframes squareShift3 {
    0% {
        transform: translate(38.261px, 77.022px);
      }
      35% { 
        transform: translate(38.261px, 67.022px) scale(1.1);
        transform-origin: right;
      }
      70% { 
        transform: translate(38.261px, 97.022px) scale(1.1);
        transform-origin: left;
      }
      100% {
        transform: translate(38.261px, 77.022px);
      }
}

/* Chart Icon */
.minimizedField .chartAnimate  {
    animation: 1s ease-in-out 1 chartSqueeze;
    transform-origin: center;

}

@keyframes chartSqueeze {
    0% {
        transform: scaleY(1) scaleX(1);
      }
      35% {
        transform: scaleY(.6) scaleX(1.1);
      }
      70% { 
        transform: scaleY(1.3) scaleX(.8);
      }
      100% {
        transform: scaleY(1) scaleX(1);
      }
}

/* Task Icon */
.minimizedField .taskAnimate  {
    animation: 1s ease-in-out 1 taskDip;
}

@keyframes taskDip {
    0% {
        transform: translate(0px, 1.5px);
      }
      35% {
        transform: translate(10px, 21.5px) rotate(30deg);
      }
      70% { 
        transform: translate(0px, 21.5px) rotate(-60deg);
      }
      100% {
        transform: translate(0px, 1.5px) rotate(0deg);
      }
}