:root {
    margin: 0px;
    padding: 0px;
}

main .card:hover {
    background-color: #D8E6FF;
}

main .card:hover .linkButton {
    background-color: #B1CEFF;
}

.pcHeader {
    margin-bottom: 20px;
}
.pcHeader h1 {
    font-size: 2.5em;
    margin-block: 6px;
}
.pcHeader p {
    margin-block: 0px;
}

.columnWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

@media (max-width: 1024px) {
    .columnWrapper {
        grid-template-columns: 1fr;
    }
}

.roleWrapper {
    display: flex;
    flex-direction: column;
}

.roleWrapper .card {
    max-width: 550px;
    margin: auto;
}

.role-bg1 {
    background-image: url("/rol-bg1.png");
    background-position: center;
    background-size: cover;
}

.role-bg2 {
    background-image: url("/role-bg2.png");
    background-position: center;
    background-size: cover;
}