.skeletonCard {
  background-color: #FFF;
  padding: 12px 24px 18px 24px;
  border-radius: 12px;
  box-shadow: 0px 3px 6px 0px #8888;
  height: min-content;
  margin: 20px auto;
  width: 90%;
  position: relative;
}

.skeletonRoleHeader {
  height: 40px;
  width: 200px;
  background-color: #eee;
  border-radius: 20px;
  margin-bottom: 5px;
}

.skeletonWrapper {
    position: relative;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #FFF;
    padding: 10px;
    margin: 0px 16px 16px 0px;
    width: 380px;

    animation: skeleton-loading 750ms linear infinite alternate;
}
  
  @keyframes skeleton-loading {
    0% {
      opacity: .3;
    }
    100% {
      opacity: 1;
    }
  }

.skeletonTitle {
    box-sizing: border-box;
    width: 60%;
    border-color: #eee;
    border-style: solid;
    background-color: #eee;
    outline: none;
    padding: 2px;
    height: 30px;
    margin-left: 5px;
    border-radius: 20px;
}

.skeletonHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skeletonDesc {
  width: 100%;
  height: 25px;
  background-color: #eee;
  border-radius: 20px;
}

.skeletoniconFieldWrapper {
    display: flex;
    /* margin-top: 4px; */
    height: 24px;
    line-height: 24px;
    padding: 5px;
    background-color: #F8F8F8;
    gap: .5em;
}

.skeletonminiField {
    flex: 1;
    height: 30px;
    position: relative;
    top: -4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #eee;
    border: #eee 2px solid;
    border-radius: 20px;
}

.skeletonIcon {
    width: 24px;
    height: 24px;
    background-color: #eee;
    border-radius: 20px;
}

/* Checkbox styles */
.checkboxSkeletonWrapper {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
  }
  
  /* Create a custom checkbox */
  .skeletoncheckcircle {
    position: absolute;
    top: 0;
    left: -21px;
    height: 18px;
    width: 18px;
    background-color: #FFF;
    border: 2px solid #ddd;
    border-radius: 20px;
  }